.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.city-buttons button,
.latlong-input button {
  margin: 5px;
  padding: 10px 20px;
}

.latlong-input input {
  margin: 5px;
  padding: 10px;
}

.weatherDisplay {
  margin-top: 20px;
}

.weatherTable {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}

.weatherTable th,
.weatherTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.weatherTable th {
  background-color: #f2f2f2;
}

.weatherTable tr:nth-child(even) {background-color: #f9f9f9;}

.weatherTable tr:hover {background-color: #ddd;}

