.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.city-buttons button,
.latlong-input button {
  margin: 5px;
  padding: 10px 20px;
}

.latlong-input input {
  margin: 5px;
  padding: 10px;
}

.weatherDisplay {
  margin-top: 20px;
}
